<div class="body">
    <div class="header">
        <app-header [title]='title'></app-header>
    </div>
    <div class="middle">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main">
            <div id="composerMain">
                <div *ngIf="!startFlg">
                    <button [style.display]="displayProperty" id="startActionButton" type="button" (click)="start()">Let's Start!</button>
                </div>
                <div id="composerPart">
                    <ng-container *ngFor="let comment of comments">
                        <div [ngSwitch]="typeOfComment(comment)">
                          <div *ngSwitchCase="'RESPONSE'" class="responseComposer">
                            {{comment.content}}<br>
                            <div *ngFor="let bean of comment.responseList">
                              <div class="genreList" >{{bean.beanCd}}:{{bean.beanNm}}</div>
                            </div>
                          </div>
                          <div *ngSwitchCase="'END'" class="responseComposer">
                            {{comment.content}}<br>
                            <div *ngFor="let bean of comment.responseList">
                              <div class="genreList" (click)="openModal(bean)" >・{{bean.beanNm}}</div>
                            </div>
                          </div>
                          <div *ngSwitchCase="'REQUEST'" class="requestComposer">
                            {{comment.content}}
                          </div>
                        </div>
                    </ng-container>
                </div>
                <app-modal [modalBean]='modalBean' class="shopModal" *ngIf="isOpenModal">
                </app-modal>
            </div>

            <div *ngIf="startFlg" class="footer">
                <form (submit)="sendChoice(content)">
                    <div id="composerInput">
                        <input id="inputBox" [(ngModel)]="content"
                        name="comment"
                        placeholder="表示されるコードを入力してくださいな（例　000）"/>
                        <button id="inputButton">POST</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
