<div class="body">
    <div class="header">
        <app-header [title]='title'></app-header>
    </div>
    <div class="middle">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main">
            <div id="composerMain">
                <div *ngIf="!startFlg">
                    <button [style.display]="displayProperty" id="startActionButton" type="button" (click)="start()">Let's Start!</button>
                </div>
                <div id="composerPart">
                    <ng-container *ngFor="let comment of comments">
                        <div *ngIf="isResponseComment(comment); then response; else request">
                        </div>
                        <ng-template #response>
                            <div class="responseComposer">
                                {{comment.content}}<br>
                                <div *ngFor="let bean of comment.responseList">
                                    <div class="genreList" >{{bean.beanCd}}:{{bean.beanNm}}</div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #request>
                            <div class="requestComposer">
                                {{comment.content}}
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
                
            </div>
            <div *ngIf="startFlg" class="footer">
                <form (submit)="sendChoice(content)">
                    <div id="composerInput">
                        <input id="inputBox" [(ngModel)]="content"
                        name="comment" 
                        placeholder="表示されるコードを入力してくださいな（例　000）"/>
                        <button id="inputButton">POST</button>
                    </div>
                </form>    
            </div>            
        </div>
    </div>
</div>
