<div class="modal-header">
  <h4 class="modal-title">【ジャンル】{{modalBean.attribute1}}</h4>
</div>
<div class="modal-body">
  <div id="shopName" class="modalContent">
    <label for="name" class="modalLabel">店名</label>
    <div>{{modalBean.beanNm}}</div>
  </div>
  <div id="taste" class="modalContent">
    <label for="taste" class="modalLabel">味</label>
    <div>{{modalBean.attribute2}}</div>
  </div>
  <div id="prefecture" class="modalContent">
    <label for="prefecture" class="modalLabel">都道府県</label>
    <div>{{modalBean.attribute3}}</div>
  </div>
  <div id="place" class="modalContent">
    <label for="place" class="modalLabel">場所</label>
    <div>{{modalBean.attribute4}}</div>
  </div>
  <div id="url" class="modalContent">
    <label for="url" class="modalLabel">URL</label>
    <div><a href="{{modalBean.attribute5}}" target="_blank">{{modalBean.attribute5}}</a></div>
  </div>
</div>
<div class="modal-footer">
</div>
