<div class="body">
    <div class="header">
        <app-header [title]='title'></app-header>
    </div>
    <div class="middle">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main">
            <div id="news">
                <table class="newsTable" *ngFor='let news of newsList'>
                    <tr><th colspan="2">RecentNews</th></tr>
                    <tr><td>{{news.registedDate}}</td><td>{{contents}}</td></tr>
                </table>        
            </div>
        </div>
    </div>    
</div>
